@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import "tailwindcss";
body {
  font-family: "Schoolbell", cursive;
  background-color: #b3e7f6;
}

.font-luckiest {
  font-family: "Luckiest Guy", cursive;
}

.media-icon:hover svg path {
  fill: #da291c;
}
.copy-icon:hover svg path {
  fill: black;
}
.text-shadow {
  text-shadow: 0px 5px 5px black;
}

@media (max-width: 768.98px) {
  .media-icon svg {
    width: 24px;
    height: 24px;
  }
}
