@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import "tailwindcss";
body {
  font-family: "Schoolbell", cursive;
  background-color: #b3e7f6;
}

::-webkit-scrollbar {
  width: 0;
}

.font-luckiest {
  font-family: "Luckiest Guy", cursive;
}

.media-icon svg path,
.footer-media-icon svg path {
  transition: all 300ms linear;
}

.media-icon:hover svg path,
.footer-media-icon:hover svg path {
  fill: #da291c;
}

.copy-icon:hover svg path {
  fill: black;
}

.solana-icon:hover svg path {
  fill: white;
}

.text-shadow-marquee {
  text-shadow: 2px 2px 0px #000000, 0px 2px 2px #00000040;
}

.text-shadow {
  text-shadow: 2px 2px 0px #000000, 0px 2px 2px #00000040;
  -webkit-text-stroke: 2px #000000;
}

.yellow-shadow {
  text-shadow: 6px -6px 0px #fbdb81;
}

.swiper-wrapper {
  display: flex;
  max-width: 819px;
  margin-left: auto;
}

.footer-media-icon svg {
  width: 39.66px;
  height: 39.66px;
}

@media (max-width: 768.98px) {
  .media-icon svg {
    width: 24px;
    height: 24px;
  }
}

/* @media (max-width: 575.98px) {
  .media-icon svg {
    width: 18px;
    height: px;
  }
} */
